@import url(./reset.css);

:root {
    --primary-dark: #202124;
    --app-bg-dark: rgb(24,23,32);
    --secondary-dark-color: #292837;
    --light-color: #fafafa;
    --primary-blue: #09f;
    --secondary-blue: rgb(0, 119, 198);
    --primary-green: #9f0;
    --primary-red: rgb(255, 0, 93);
    --primary-orange: #f90;
    --primary-purple: #90f;
    --react-color: #61dafb;
    --shadow-color: 245deg 23% 8%;
    --shadow-elevation-low:
      0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.52),
      0.4px 0.3px 0.6px -2.5px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-medium:
      0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.72),
      1.8px 1.7px 2.8px -2.5px hsl(var(--shadow-color) / 0.72);
    --shadow-elevation-high:
      0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.89),
      2px 1.9px 3.1px -1.2px hsl(var(--shadow-color) / 0.89),
      9px 8.4px 13.8px -2.5px hsl(var(--shadow-color) / 0.89);
}

body {
    background-color: var(--app-bg-dark);
    font-family: 'Figtree', sans-serif;
    color: var(--light-color);
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

h1, h2, p, li, a, h3, input {
    color: #fff;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
}

main {
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-weight: 400;
    line-height: 1;

    span {
        color: #00f3b6;
/* Use &: for hover, etc while nesting CSS */
        &:hover {
            color: blue;
        }
    }
}


li + li {
    margin-left: 25px;
}

li {
    display: inline;
}

.buttons {
    display: flex;
    gap: 20px;
    /* margin-top: 10px; */
}

button {
    height: 36px;
    line-height: 36px;
    border-radius: 30px;
    font-size: 1.6rem;
}

button.primary {
    background-color: var(--primary-purple);
    color: var(--light-color);
    width: 120px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover{
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: .1s;
    }
}

button.secondary {
    background-color: transparent;
    border: 1px solid var(--react-color);
    color: var(--react-color);
    width: 130px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover{
        background-color: rgb(97 218 251 / 8%);
        border: 1px solid #98e9ff;
    }
}

button.secondary.close-dialog {
    margin-top: 10px;
}

.button-toggle {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

dialog {
    margin: 0; /* `margin: auto;` is the default. */
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
   }

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog.dialog-container {
    background: transparent;
    border: none;
    box-shadow: var(--shadow-elevation-high);
    border-radius: 10px;
}

input {
    width: 240px;
    height: 44px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 5%);
    background-color: rgb(255 255 255 / 5%);
    font-size: 1.8rem;
}

/* App CSS */

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .App-header {
    background-color: var(--secondary-dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    align-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Star CSS */
.rating-container, .rating-word-container {
    display: flex;
}

.rating-container {
    margin-bottom: 15px;
}

section.star-rating {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

svg.star {
    cursor: pointer;
    font-size: 90px;
    color: var(--secondary-dark-color);
}

.star.rated {
    color: #FFD700; 
}